<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-red-500">users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-table [users]="users" *ngIf="reqData!==false; else loading"></app-table>
  <ng-template #loading>
    <ion-text>cargando...</ion-text>
  </ng-template>
  <ion-button class="ion-margin-start mb-5" shape="round" (click)="beforePage()">Before</ion-button>
  <ion-button class="ion-margin-start mb-5" shape="round" (click)="nextPage()">Next</ion-button>

</ion-content>