<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-red-500">users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-table [users]="users" *ngIf="reqData!==false; else loading"></app-table>
  <!-- <ion-grid *ngIf="reqData!==false; else loading">
    <ion-row class="ion-text-center">
      <ion-col>Image</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Email</ion-col>
      <ion-col>Birthday</ion-col>
    </ion-row>

    <div *ngIf="users">
      <ion-row class="ion-text-center" *ngFor="let user of users">
        <ion-col>
          <ion-img src={{user.image}} alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        </ion-col>
        <ion-col>{{user.name}}</ion-col>
        <ion-col>{{user.email}}</ion-col>
        <ion-col>{{user.birthday}}</ion-col>
      </ion-row>
    </div>
  </ion-grid> -->

  <ng-template #loading>
    <ion-text>cargando...</ion-text>
  </ng-template>
</ion-content>